In [5]:
import pandas as pd

In [6]:
#determining the structure of the json files

raw_data = pd.read_json('data\song_data\A\A\A\TRAAAAW128F429D538.json', typ='series')

In [7]:
raw_data

num_songs                            1
artist_id           ARD7TVE1187B99BFB1
artist_latitude                   None
artist_longitude                  None
artist_location        California - LA
artist_name                     Casual
song_id             SOMZWCG12A8C13C480
title                 I Didn't Mean To
duration                       218.932
year                                 0
dtype: object

In [8]:
raw_data.to_frame('count')

                               count
num_songs                          1
artist_id         ARD7TVE1187B99BFB1
artist_latitude                 None
artist_longitude                None
artist_location      California - LA
artist_name                   Casual
song_id           SOMZWCG12A8C13C480
title               I Didn't Mean To
duration                     218.932
year                               0

In [10]:
import json

with open('data\song_data\A\A\A\TRAAAAW128F429D538.json', 'r') as f:
    data = json.load(f)

In [11]:
data

{'num_songs': 1,
 'artist_id': 'ARD7TVE1187B99BFB1',
 'artist_latitude': None,
 'artist_longitude': None,
 'artist_location': 'California - LA',
 'artist_name': 'Casual',
 'song_id': 'SOMZWCG12A8C13C480',
 'title': "I Didn't Mean To",
 'duration': 218.93179,
 'year': 0}